<html ng-app>
	<head>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
		<script type="text/javascript" src="lib/angular.min.js"></script>
		<script type="text/javascript" src="js/Controller.js">
		</script>
		<script type="text/javascript" src="js/app.js"></script>
		<title>Ng-repeat 2</title>
		<meta charset="utf-8">
	</head>
	<body>
		<style type="text/css">
			.thumb, .thumb img
			{
				max-width: 150px;
			}

		</style>
		<section class="calculator" ng-controller="MainCtrl">
			<table>
				<tr ng-repeat="item in products">
					<td class="thumb"><img ng-src="images/{{item.picture}}"></td>
					<td>{{item.name}}</td>
					<td><input type="number" 
						ng-change="updatePrice()"
						ng-model="item.count"
						></td>
					<td>{{item.price * item.count}} บาท</td>
				</tr>
				<tr>
					<td>รวม</td>
					<td></td>
					<td></td>
					<td>{{sum}} บาท</td>
				</tr>
			</table>
		</section>
	</body>
</html>